body {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    width: var(--container-5xl);
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.main-container {
    width: 100%;
    max-width: 450px;
    margin-top: 20px;
}